body {
    background-color: #000b2b;
    font-family: Arial, sans-serif;
}

.container {
    width: 50%;
    margin: 100px auto;
    padding: 20px;
    background: rgba(249, 246, 246, 0.986);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.4);
}


button {
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
