<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Flask Webpage</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h1>Welcome to Flask!</h1>
        <button onclick="toggleMessage()">
            Click Me
        </button>


        <p id="output"></p>
    </div>

    <!-- External JS -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
